.content {
	background-color: #61dafb;
	padding: 50px;
	display: flex;
	justify-content: space-between;
}

.dialogs {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
}
.dialogs .active {
	color: white;
}

.masseges {
	display: flex;
	flex-direction: column;
	gap: 10px 0;
	padding-right: 500px;
}
.massege {
	font-weight: 600;
}

button {
	display: block;
}

.massege__item {
	font-weight: 600;
}
